<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>
    {{ partial "nav.html" . }}

    {{ "<!-- Main -->" | safeHTML }}
            
    

    {{ "<!-- Wrapper -->" | safeHTML }}
            

        <div class="container">
            <div class="row">
                <div class="col-md">
                    <img class="image-single" src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" />
                </div>
                <div class="col-md my-4 my-sm-0">
                    <h1>{{ .Title}}</h1>
                    <div class="my-4" style="text-align:justify">
                        {{ .Content }}
                    </div>
                </div>
            </div>
                
        {{ partial "footer.html" . }}

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
