<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>
    
    {{ partial "nav.html" . }}

    <div id="wrapper">


    <div class="container">
        <div class="row">
            <section class="col-md col-lg col-">
                {{ if .Params.image }}
                    <span class=""><img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" /></span>
                {{ end }}
                {{ .Content }}
            </section>

            {{ "<!-- Contact -->" | safeHTML}}
            <section class="col-sm col-md">
                <p>To get in touch regarding collaborations, teaching or other enquiries, please send her a message at apetrichei@gmail.com. Thank you!</p>
            </section>
        </div>
    </div>
</div>
        
    {{ partial "footer.html" . }}
        
    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
