<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>
    {{ partial "nav.html" . }}

    {{ "<!-- Main -->" | safeHTML }}
            

    {{ "<!-- Wrapper -->" | safeHTML }}
            

        <div class="container">
            <div class="row p-1 mx-auto">
                <div class="">
                    <div class="image-wrapper float-left mr-0 mr-sm-3 mb-3 mb-sm-0">
                        <img class="image-content" src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" />

                    </div>
                    <div class="" style="text-align:justify">
                        <h1>{{ .Title}}</h1>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>

     {{ partial "footer.html" . }}

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
