<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>
    {{ partial "nav.html" . }}

    {{ "<!-- Main -->" | safeHTML }}
            

    {{ "<!-- Wrapper -->" | safeHTML }}
            

        <div class="container">
            <div class="row">
                <div class="">
                    <div class="image-wrapper float-left pr-3">
                        <img class="image-content" src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" />

                    </div>
                    <div class="pt-2" style="text-align:justify">
                        <h1>{{ .Title}}</h1>
                        {{ .Content }}
                    </div>
                </div>
            </div>
                

        <div class="row">
            <div class="col-sm-12 col-md-5">  </div>
            <div class="col-sm-12 col-md-2">  
                {{ "<!-- Footer -->" | safeHTML}}
                    {{ if .Site.Params.footer.enable }}
                        {{ partial "footer.html" . }}
                    {{ end }}
            </div>
            <div class="col-sm-12 col-md-5">  </div>
        </div>
        </div>


    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
