{{ "<!-- Banner -->" | safeHTML}}
    <section id="banner" class="major" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
        <div class="inner">
            <header class="major">
                <h1>{{ .Site.Params.Banner.title }}</h1>
            </header>
            <div class="content">
                <p>{{ .Site.Params.Banner.subtitle }}</p>
            </div>
            <div class="content">
                <p>{{ .Site.Params.Banner.subtitle1 }}</p>
            </div>
        </div>
    </section>
